html,
body {
  margin: 0;
  padding: 0px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.7em;
  background-image: url(../background-ge9413a519_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
a {
  text-decoration: none;
  color: rgb(155, 43, 43);
}
#navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: rgb(127, 154, 181);
  overflow: auto;
  margin-top: 0%;
  color: rgb(156, 32, 50);
}
#navbar ul li {
  list-style: none;
  padding: 15px;
}

#navbar ul :hover {
  background: rgb(233, 225, 188);
  color: rgb(163, 114, 97);
}
h1 {
  color: rgb(224, 203, 175);
  font-size: 2.2em;
  font-style: italic;
  margin-right: 20rem 0;
  text-align: center;
  padding: 20px;
  
}
.intro p{
  color: rgb(196, 144, 81);
}

.intro h1{
  
   animation-name: intro;
  animation-duration: 5s;
  animation-iteration-count: infinite; 
  animation-timing-function: ease-in-out;
  color: rgb(159, 50, 46);
  font-size: 2.2em;
  font-style: italic;
  margin-right: 20rem 0;
  text-align: center;
  padding: 20px;
  border-radius: 100%;
  
  
}
@keyframes intro{
  form{background-color: rgb(86, 193, 255);}
  to{background-color: rgba(6, 35, 97, 0.763);}
  
}

p {
  color: aliceblue;
  text-align: center;
}
/* image section */
.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-pic img {
  width: 250px;
  height: 300px;
}
/* for the Icon section */
.svj {
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
  background-color: rgba(229, 197, 158, 0.888);
  margin-top: 12px;
}
.svj a {
  margin: 5px;
  padding: 2px;
}
.svj a :hover {
  color: rgba(245, 238, 202, 0.964);
  background-color: rgb(199, 164, 121);
  padding: 3px;
}

/*ABOUT ME */
#about-me {
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  background: rgba(195, 168, 129, 0.802);
  border: 2px rgb(190, 220, 245) solid;
}
#about-me p {
  color: black;
  text-align: left;
}
#about-me h1 {
  color: black;
}
/* for the contact section */
.contact-info{
  display: flex;
  padding: 15px;
  width: 45vh;
  background-color: rgb(195, 168, 129);
  font-size: 10px;
  margin: auto auto;
  

  
}


@media (max-width: 500px) {
  body {
    /* min-width: 80%; */
  }
  .profile-pic img {
    margin: auto;
  }
}

/* RESUME */
.resume a {
  color: rgb(218, 238, 255);
}
.resume :hover {
  color: rgb(255, 77, 0);
  background-color: azure;
}
/* for the Form contact */
#container .contact-info{
  display: grid;
  justify-content: center;
  
}  
#container{
  box-sizing: border-box;
  background-color: rgb(175, 111, 22);
  margin: 1.9rem auto;
  padding: 15px;
  min-width: 300px;
  max-width: 500px;
  
  
  
}
label{
  padding: 4px;
  width: 7px;
  border-radius: 2;
  margin-left: 1.7px;
  margin-right: 1.7px;
}
button{
  display: block;
  background-color: rgb(214, 230, 238);
  padding: 10px;
  width: 27%;
  margin-top: 20px;
  margin-left: 8px;
  cursor: pointer;
}

input{
  width: 50%;
  height: 2rem;
  padding: 1.8px;
  margin: 1.1 1em;
}
.messaging label{
padding: 15px;
margin-top: 4rem;
}
button:hover{
  background-color: rgb(15, 129, 223);

}

    /* GRIDD */

  /* .grided-pics{
    display: grid;
    grid-template-columns:(4, 1fr);
    grid-template-rows: (1, 3fr);
    border: azure 5px solid;
    
  } */
  .grided-container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    /* grid-template-rows: repeat(3, 2fr); */
    gap: 10px;
    padding: 34px;
    margin-top: 40px;
    width: 80%;
    height: 130vh;
    margin: 0 auto;
    padding: 10px;
    background: rgba(123, 178, 207, 0);
    border: rgba(24, 75, 194, 0) 2px solid;
  
  }
  .grided-container > div  {
    padding: 10px 0;
    background-color: rgb(24, 66, 66);
    text-align: center;
    font-size: 30px;
    /* margin: auto; */
    /* max-width: 800px; */
    /* border: rgb(174, 31, 31) 4px solid; */
  
  }
  .grid-item{
    border: azure 2px solid;
    overflow: auto auto;
    max-width: 300px;
  }
  .grid-item:first-child{
    
    background-image: url(../images/IMG_8713.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    
  }
  .grid-item:nth-child(2){
   
    background-image: url(../images/IMG_3108.JPG); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    z-index: 2;
  }
  .grid-item:nth-child(3){
 
    background-image: url(../images/IMG_3100.JPG);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    
  }
  .grid-item:nth-child(4){
    background-image: url(../images/IMG_8709.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    /* grid-column: 3;
    grid-row: 2; */
  }
  .grid-item:nth-child(5){
    
    
    background-image: url(../images/IMG_8335.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    
  }  
  .grid-item:nth-child(6){
    grid-row: 2 /span 4;
    grid-column: 1 /span 3;
    background-image: url(../images/IMG_3142.jpg); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }
  .grid-item:nth-child(7){
    grid-column: 4 /span 5;
    grid-row: 1 span/ 3;
    background-image: url(../images/IMG_3131.jpg); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }
  .grid-item:nth-child(8){
    background-image: url(../images/IMG_8711.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    /* grid-row: 3 /span 4; */

  }
  .grid-item:nth-child(9){
   grid-row: 3 /span 5;
   grid-column: 4 /span 5;
    background-image: url(../images/28c5b3b0-8790-45d1-81cb-f3fb5be4079e.JPG);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    
  }  
  .grid-item:nth-child(10){
    background-image: url(../images/IMG_8712.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    grid-column: 1/span 5;
       
  } 


