html,
body {
  margin: 0;
  padding: 0px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.7em;
  background-image: url(../background-ge9413a519_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
a {
  text-decoration: none;
  color: rgb(155, 43, 43);
}
#navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: rgb(127, 154, 181);
  overflow: auto;
  margin-top: 0%;
  color: rgb(156, 32, 50);
}
#navbar ul li {
  list-style: none;
  padding: 15px;
}

#navbar ul :hover {
  background: rgb(233, 225, 188);
  color: rgb(163, 114, 97);
}
h1 {
  color: rgb(224, 203, 175);
  font-size: 2.2em;
  font-style: italic;
  margin-right: 20rem 0;
  text-align: center;
  padding: 20px;
}

p {
  color: aliceblue;
  text-align: center;
}
/* image section */
.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-pic img {
  width: 250px;
  height: 300px;
}
/* for the Icon section */
.svj {
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
  background-color: rgba(229, 197, 158, 0.888);
  margin-top: 12px;
}
.svj a {
  margin: 5px;
  padding: 2px;
}
.svj a :hover {
  color: rgba(245, 238, 202, 0.964);
  background-color: rgb(199, 164, 121);
  padding: 3px;
}

/*ABOUT ME */
#about-me {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  background: rgba(195, 168, 129, 0.802);
}
#about-me p {
  color: black;
  text-align: left;
}
#about-me h1 {
  color: black;
}
/* for the contact section */
.phone a {
  color: rgb(218, 238, 255);
  padding: 10px;
  background: rgb(121, 95, 35);
  font-size: x-small;
}
.email a {
  color: rgb(218, 238, 255);
  padding: 10px;
  background: rgb(121, 95, 35);
  font-size: x-small;
}

@media (max-width: 500px) {
  body {
    /* min-width: 80%; */
  }
  .profile-pic img {
    margin: auto;
  }
}

/* RESUME */
.resume a {
  color: rgb(218, 238, 255);
}
.resume :hover {
  color: rgb(255, 77, 0);
  background-color: azure;
}
